.bg-gray {
    background-color: #f4f4f4;
}
.events{
    display:flex;
    flex-direction: column;
    height:90px;
    justify-content: center;
    align-items: center;
}

.contain {
    width:100%;
}

.twitch {
    height: 254px;
    width: 306px;
}

iframe {
    width: 100%;
}

.main-section {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}


@media (max-width:1023px){
    .imgcontainer{
        display:none;
    }
}