.bg-gray {
    background-color: #f4f4f4;
}
.events{
    display:flex;
    flex-direction: column;
    height:90px;
    justify-content: center;
    align-items: center;
}

.twitch {
    height: 254px;
    width: 306px;
}


@media (max-width:1023px){
    .imgcontainer{
        display:none;
    }
}